/* $amarillo-pro: #fdb813; */
$amarillo-pro: #f7a700;
/*$azul-pro: #00437a;*/
$azul-pro: #1e366c;

@mixin border-radius($radius) {
	-webkit-border-radius: $radius !important;
	-moz-border-radius: $radius !important;
	-ms-border-radius: $radius !important;
	border-radius: $radius !important;
	background-clip: padding-box;
}

/* @group fonts */

@font-face {
	font-family: 'Avenir-Book';
	src: url('/fonts/AvenirLTStd-Book/AvenirLTStd-Book.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/AvenirLTStd-Book/AvenirLTStd-Book.woff') format('woff'),
		 url('/fonts/AvenirLTStd-Book/AvenirLTStd-Book.ttf')  format('truetype'),
		 url('/fonts/AvenirLTStd-Book/AvenirLTStd-Book.svg#AvenirLTStd-Book') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AvenirLTStd-Light';
	src: url('/fonts/AvenirLTStd-Light/AvenirLTStd-Light.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/AvenirLTStd-Light/AvenirLTStd-Light.woff') format('woff'),
		 url('/fonts/AvenirLTStd-Light/AvenirLTStd-Light.ttf')  format('truetype'),
		 url('/fonts/AvenirLTStd-Light/AvenirLTStd-Light.svg#AvenirLTStd-Light') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AvenirLTStd-Roman';
	src: url('/fonts/AvenirLTStd-Roman/AvenirLTStd-Roman.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/AvenirLTStd-Roman/AvenirLTStd-Roman.woff') format('woff'),
		 url('/fonts/AvenirLTStd-Roman/AvenirLTStd-Roman.ttf')  format('truetype'),
		 url('/fonts/AvenirLTStd-Roman/AvenirLTStd-Roman.svg#AvenirLTStd-Roman') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* @endgroup */

/* @group general */

body {
	background-color: #fff !important;
	
	* {
		font-family: 'Avenir-Book';
	}
}
.panel {
    @include border-radius(0px);
    overflow: hidden;
    background-color: #fff;
    transition: box-shadow .25s;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);

    .panel-heading {
        @include border-radius(0px);
    }
    .table {
        max-width: 101%;
        width: 101%;
    }
    .panel-big-text {
        color: $azul-pro;
        font-size: 20px;
    }
    .dashboard-fa {
        font-size: 30px;
        color: $azul-pro;
        line-height: 45px;
    }
}
.btn ,
.nav-pills > li > a ,
.nav-tabs > li > a {
	@include border-radius(0px);
}
#sb-site {
	padding-top: 50px;
}
.navbar-nav > li > a {
	padding-top: 7px;
	height: 50px;
	line-height: 36px;
}
.sub-menu {
	list-style-type: none;
	padding-left: 40px;
}

/* @endgroup */

/* @group utils */

.margin-top-150 {
	margin-top: 150px;
}
.mt-30 {
	margin-top: 30px;
}

/* @endgroup */

/* @group header */

.main-navbar {
	background: #fff;
	border: none;
	margin-bottom: 0;
	
	.navbar-header {
		width: 100%;
		position: relative;
	}
	.navbar-brand-wrap {
		top: 0;
		left: 0;
		bottom: 0;
		position: absolute;

		a {
			color: $azul-pro !important;
		}
	}
	.navbar-brand {
		color: $azul-pro;
		font-weight: bold;
		text-transform: uppercase;
		
		&:hover {
			color: $azul-pro;
		}
		&+.navbar-brand {
			margin-left: 0;
		}
	}
	.text-center {
		width: 100%;
		height: 50px;

		img {
			max-height: 100%;
			padding: 10px 0;
		}
	}
	.navbar-session {
		top: 0;
		right: 0;
		bottom: 0;
		position: absolute; 
		
		> li > a {
			color: $azul-pro;
		}
	}
	.sidemenu-toggle {
		background-color: transparent !important;
		border: none !important;
		color: $azul-pro !important;
		border-radius: 0px;

		&:hover {
			color: $amarillo-pro !important;
		}
	}
}
.message-parent-image {
	background: $azul-pro;
}

/* @endgroup */

/* @group sidebar */

.sb-slidebar {
	background-color: $azul-pro;

	&> ul.nav > li {

		&> a:focus,
		&> a:hover {
			background-color: $amarillo-pro;
		}
	}
}
.sub-menu li {
	color: $azul-pro;

	&:hover {
		background-color: $amarillo-pro;

		a {
			color: $azul-pro;
		}
	}
}

/* @endgroup */

/* @group login */

.bg-login {
    background: transparent url("../img/bg-login.png") center left no-repeat;
    background-size: contain;
    margin: 0;
    padding: 0;

    #sb-site {
    	background-color: transparent;
    }
    .login-li {
    	display: none;
    }
}
.panel-login {
	border-left-color: $amarillo-pro;

	.panel-heading {
		border-bottom-color: $amarillo-pro;
		color: $amarillo-pro;
		text-transform: uppercase;
		font-weight: bold;
	}
	.panel-body {
		color: #a2a2a2 !important;
	}
}

/* @endgroup */

/* @group calendar */

.panel-calendar {
	.panel-body {
		padding: 3px 30px;
	}
}

/* @endgroup */