/* $amarillo-pro: #fdb813; *//*$azul-pro: #00437a;*//* @group fonts */@font-face {
  font-family: 'Avenir-Book';
  src: url('/fonts/AvenirLTStd-Book/AvenirLTStd-Book.eot?#iefix') format('embedded-opentype'), url('/fonts/AvenirLTStd-Book/AvenirLTStd-Book.woff') format('woff'), url('/fonts/AvenirLTStd-Book/AvenirLTStd-Book.ttf') format('truetype'), url('/fonts/AvenirLTStd-Book/AvenirLTStd-Book.svg#AvenirLTStd-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirLTStd-Light';
  src: url('/fonts/AvenirLTStd-Light/AvenirLTStd-Light.eot?#iefix') format('embedded-opentype'), url('/fonts/AvenirLTStd-Light/AvenirLTStd-Light.woff') format('woff'), url('/fonts/AvenirLTStd-Light/AvenirLTStd-Light.ttf') format('truetype'), url('/fonts/AvenirLTStd-Light/AvenirLTStd-Light.svg#AvenirLTStd-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirLTStd-Roman';
  src: url('/fonts/AvenirLTStd-Roman/AvenirLTStd-Roman.eot?#iefix') format('embedded-opentype'), url('/fonts/AvenirLTStd-Roman/AvenirLTStd-Roman.woff') format('woff'), url('/fonts/AvenirLTStd-Roman/AvenirLTStd-Roman.ttf') format('truetype'), url('/fonts/AvenirLTStd-Roman/AvenirLTStd-Roman.svg#AvenirLTStd-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* @endgroup *//* @group general */body {
  background-color: #fff !important;
}
body * {
  font-family: 'Avenir-Book';
}
.panel {
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  -ms-border-radius: 0px !important;
  border-radius: 0px !important;
  background-clip: padding-box;
  overflow: hidden;
  background-color: #fff;
  transition: box-shadow 0.25s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.panel .panel-heading {
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  -ms-border-radius: 0px !important;
  border-radius: 0px !important;
  background-clip: padding-box;
}
.panel .table {
  max-width: 101%;
  width: 101%;
}
.panel .panel-big-text {
  color: #1e366c;
  font-size: 20px;
}
.panel .dashboard-fa {
  font-size: 30px;
  color: #1e366c;
  line-height: 45px;
}
.btn, .nav-pills > li > a, .nav-tabs > li > a {
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  -ms-border-radius: 0px !important;
  border-radius: 0px !important;
  background-clip: padding-box;
}
#sb-site {
  padding-top: 50px;
}
.navbar-nav > li > a {
  padding-top: 7px;
  height: 50px;
  line-height: 36px;
}
.sub-menu {
  list-style-type: none;
  padding-left: 40px;
}
/* @endgroup *//* @group utils */.margin-top-150 {
  margin-top: 150px;
}
.mt-30 {
  margin-top: 30px;
}
/* @endgroup *//* @group header */.main-navbar {
  background: #fff;
  border: none;
  margin-bottom: 0;
}
.main-navbar .navbar-header {
  width: 100%;
  position: relative;
}
.main-navbar .navbar-brand-wrap {
  top: 0;
  left: 0;
  bottom: 0;
  position: absolute;
}
.main-navbar .navbar-brand-wrap a {
  color: #1e366c !important;
}
.main-navbar .navbar-brand {
  color: #1e366c;
  font-weight: bold;
  text-transform: uppercase;
}
.main-navbar .navbar-brand:hover {
  color: #1e366c;
}
.main-navbar .navbar-brand + .navbar-brand {
  margin-left: 0;
}
.main-navbar .text-center {
  width: 100%;
  height: 50px;
}
.main-navbar .text-center img {
  max-height: 100%;
  padding: 10px 0;
}
.main-navbar .navbar-session {
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}
.main-navbar .navbar-session > li > a {
  color: #1e366c;
}
.main-navbar .sidemenu-toggle {
  background-color: transparent !important;
  border: none !important;
  color: #1e366c !important;
  border-radius: 0px;
}
.main-navbar .sidemenu-toggle:hover {
  color: #f7a700 !important;
}
.message-parent-image {
  background: #1e366c;
}
/* @endgroup *//* @group sidebar */.sb-slidebar {
  background-color: #1e366c;
}
.sb-slidebar > ul.nav > li > a:focus, .sb-slidebar > ul.nav > li > a:hover {
  background-color: #f7a700;
}
.sub-menu li {
  color: #1e366c;
}
.sub-menu li:hover {
  background-color: #f7a700;
}
.sub-menu li:hover a {
  color: #1e366c;
}
/* @endgroup *//* @group login */.bg-login {
  background: transparent url("../img/bg-login.png") center left no-repeat;
  background-size: contain;
  margin: 0;
  padding: 0;
}
.bg-login #sb-site {
  background-color: transparent;
}
.bg-login .login-li {
  display: none;
}
.panel-login {
  border-left-color: #f7a700;
  box-shadow: none;
}
.panel-login .panel-heading {
  border-bottom-color: #f7a700;
  color: #f7a700;
  text-transform: uppercase;
  font-weight: bold;
}
.panel-login .panel-body {
  color: #a2a2a2 !important;
}
/* @endgroup *//* @group calendar */.panel-calendar .panel-body {
  padding: 3px 30px;
}
/* @endgroup */.dashboard-first-row-panel-wrap .panel {
  min-height: 94px;
}
.table-wrap {
  overflow: auto;
}
.table-wrap .panel-body {
  overflow: auto;
  padding: 0;
}
.table-wrap table td:last-child {
  text-align: center;
}
