/* @group general */#sb-site {
  padding-top: 50px;
}
.navbar-nav > li > a {
  padding-top: 7px;
  height: 50px;
}
/* @endgroup *//* @group utils */.margin-top-150 {
  margin-top: 150px;
}
/* @endgroup *//* @group header */.main-navbar {
  background: #fff;
  border: none;
  margin-bottom: 0;
}
.main-navbar .navbar-header {
  width: 100%;
  position: relative;
}
.main-navbar .navbar-brand-wrap {
  top: 0;
  left: 0;
  bottom: 0;
  position: absolute;
}
.main-navbar .navbar-brand {
  color: #00437a;
  font-weight: bold;
  text-transform: uppercase;
}
.main-navbar .navbar-brand:hover {
  color: #00437a;
}
.main-navbar .navbar-brand + .navbar-brand {
  margin-left: 0;
}
.main-navbar .text-center {
  width: 100%;
  height: 50px;
}
.main-navbar .text-center img {
  max-height: 100%;
  padding: 10px 0;
}
.main-navbar .navbar-session {
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}
.main-navbar .navbar-session a {
  color: #00437a !important;
}
.main-navbar .sidemenu-toggle {
  background-color: transparent !important;
  border: none !important;
  color: #00437a !important;
  border-radius: 0px;
}
.main-navbar .sidemenu-toggle:hover {
  color: #fdb813 !important;
}
/* @endgroup *//* @group login */.bg-login {
  background: transparent url("../img/bg-login.png") center left no-repeat;
  background-size: contain;
  margin: 0;
  padding: 0;
}
.bg-login #sb-site {
  background-color: transparent;
}
/* @endgroup */