/* header */
.navbar-nav > li > a{
  padding-top: 10px;
  padding-bottom: 7px;
}


.sub-menu{
  color: #fff;
  background-color: #004a8d;
  border-color: #003d74;
}


.sub-menu li,
.sub-menu li {
  color: #fff;
  background-color: #004a8d;
  border-color: #003d74;
  
  line-height: 20px;;
  
}
.sub-menu li a {
 	margin: 0px; display: block; width: 100%; height: 100%;
 	color: #fff;
	text-decoration: none;
	padding: 10px 10px 10px 20px;
}

.sub-menu li:hover,
.sub-menu li:hover {
   color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236; 
}
.sub-menu li.active,
.sub-menu li.active {
  color: #555;
  background-color: white;
}
.sub-menu li.active a, 
.sub-menu li.active a {

}

