/* header */
.navbar-nav > li > a{
  padding-top: 10px;
  padding-bottom: 7px;
}


.sub-menu{
  color: #fff;
  background-color: #004a8d;
  border-color: #003d74;
}


.sub-menu li,
.sub-menu li {
  color: #fff;
  background-color: #004a8d;
  border-color: #003d74;
  line-height: 20px;
  border-radius: 3px;
  
}
.sub-menu li a {
 	margin: 0px; 
  display: block;
  width: 100%; 
  height: 100%;
 	color: #fff;
	text-decoration: none;
	padding: 10px 10px 10px 20px;
}

.sub-menu li:hover,
.sub-menu li:hover {
  background-color: #fecf5f;
  border-color: #eea236; 
}
.sub-menu li.active,
.sub-menu li.active {
  color: #555;
  background-color: white;
}
.sub-menu li.active a, 
.sub-menu li.active a {

}

#message{
  display: block;
  
  cursor: pointer;
}
#message:active {
  animation: vibrate 0.1s infinite;
}

@keyframes vibrate {
  50% {
    transform: rotate(1deg) translateX(1px);
  }
  100% {
    transform: rotate(-1deg) translateX(-1px);
  }
}


.numberCircle {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 2px;
    background: red;
    border: 2px solid white;
    color: white;
    text-align: center;
    font: 10px Arial, sans-serif;
    position:absolute;
    top:0px;
    margin-left:28px;
    margin-top: 3px;
}

.numberCircleNotification{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 2px;
    background: red;
    border: 2px solid white;
    color: white;
    text-align: center;
    font: 10px Arial, sans-serif;
    position:absolute;
    top:0px;
    margin-left:21px;
    margin-top: 3px;
}
#notifications-lists li{
  background-color: #00396c;
  color:white;
  width:400px;
  height: 50px;
}


#notifications-lists li:hover{
  background-color: #fecf5f;
}

#notifications-lists li a{
  margin: 0px; 
  display: block;
  width: 100%; 
  height: 100%;
  color: #fff;
  text-decoration: none;
  padding: 10px 10px 10px 20px;
}

.fast-actions:hover span {
  left: 4%;
  width: 150px;
  height: 20px;
} 

.fast-actions span {
  font-size: 12px;
  text-align: center;
  position: absolute;
  left: -9999px;
  color:white; 
  background-color: black;
  margin-left:25px;
}

.fast-actions:hover div{
  left: 4%;
} 

.fast-actions div{
  position: absolute;
  left: -9999px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  border-right:10px solid black; 
  margin-left:20px;
  bottom:-7px;
}


.wrapper {

}
.pricing-table {
  text-align: center;
    width: 100%;
}

.pricing-table .heading{
    color: #00396c;
    font-size: 1.3rem;
    margin-bottom: 4rem;
}

.block{
    margin: 0 15px;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;    
/*    border: 1px solid red;*/
}
/*Shared properties*/
.title,.pt-footer{
    color: #FEFEFE;
    line-height: 2.5;
    position: relative;
}
.content{
    position: relative;
    color: #FEFEFE;
    
}
/*arrow creation*/
.content:after, .content:before,.pt-footer:before,.pt-footer:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.pt-footer:after,.pt-footer:before{
    top:0;
}
.content:after,.pt-footer:after {
  border-color: rgba(136, 183, 213, 0); 
  border-width: 5px;
  margin-left: -5px;
}
/*/arrow creation*/
.price{
    position: relative;
    display: inline-block;
    margin-bottom: 0.625rem;
}
.price span{    
    font-size: 4rem;
    letter-spacing: 8px;
    font-weight: bold;        
}
.price sup{
    font-size: 1.5rem;    
    position: absolute;    
    top: 12px;
    left: -12px;
}

.features{
    list-style-type: none;    
    background: #FFFFFF;
    text-align: left;
    color: #9C9C9C;
    padding:30px 22%;
    font-size: 0.9rem;
}
.features li{
    padding:15px 0;
    width: 100%;
}
.features li span{
   padding-right: 0.4rem; 
}
.pt-footer{
    font-size: 0.95rem;
    text-transform: capitalize;
}

/*PROFESSIONAL*/
.professional .title{
    background: #004a8d;
}
.professional .content,.professional .pt-footer{
    background: #004a8d;
}
.professional .content:after{ 
  border-top-color: #00396c;  
}
.professional .pt-footer:after{
    border-top-color: #FFFFFF;
}

.products-added:hover{
  background-color: #5cb85c;
}



