/* header */
.navbar-nav > li > a{
  padding-top: 10px;
  padding-bottom: 7px;
}


.sub-menu{
  color: #fff;
  background-color: #004a8d;
  border-color: #003d74;
}


.sub-menu li,
.sub-menu li {
  color: #fff;
  background-color: #004a8d;
  border-color: #003d74;
  line-height: 20px;
  border-radius: 3px;
  
}
.sub-menu li a {
 	margin: 0px; 
  display: block;
  width: 100%; 
  height: 100%;
 	color: #fff;
	text-decoration: none;
	padding: 10px 10px 10px 20px;
}

.sub-menu li:hover,
.sub-menu li:hover {
  background-color: #fecf5f;
  border-color: #eea236; 
}
.sub-menu li.active,
.sub-menu li.active {
  color: #555;
  background-color: white;
}
.sub-menu li.active a, 
.sub-menu li.active a {

}

#message{
  display: block;
  
  cursor: pointer;
}
#message:active {
  animation: vibrate 0.1s infinite;
}

@keyframes vibrate {
  50% {
    transform: rotate(1deg) translateX(1px);
  }
  100% {
    transform: rotate(-1deg) translateX(-1px);
  }
}


.numberCircle {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 2px;
    background: red;
    border: 2px solid white;
    color: white;
    text-align: center;
    font: 10px Arial, sans-serif;
    position:absolute;
    top:0px;
    margin-left:28px;
    margin-top: 3px;
}

.numberCircleNotification{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 2px;
    background: red;
    border: 2px solid white;
    color: white;
    text-align: center;
    font: 10px Arial, sans-serif;
    position:absolute;
    top:0px;
    margin-left:21px;
    margin-top: 3px;
}
#notifications-lists li{
  background-color: #00396c;
  color:white;
  width:400px;
  height: 50px;
}


#notifications-lists li:hover{
  background-color: #fecf5f;
}

#notifications-lists li a{
  margin: 0px; 
  display: block;
  width: 100%; 
  height: 100%;
  color: #fff;
  text-decoration: none;
  padding: 10px 10px 10px 20px;
}

.fast-actions:hover span {
  left: 4%;
  width: 150px;
  height: 20px;
} 

.fast-actions span {
  font-size: 12px;
  text-align: center;
  position: absolute;
  left: -9999px;
  color:white; 
  background-color: black;
  margin-left:25px;
}

.fast-actions:hover div{
  left: 4%;
} 

.fast-actions div{
  position: absolute;
  left: -9999px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  border-right:10px solid black; 
  margin-left:20px;
  bottom:-7px;
}




